<h1>Search#results</h1>
<p>Find me in app/views/search/results.html.erb</p>


<h2>Search for "<%= @query %>" returned <%= pluralize(@products.size, 'result') %>.</h2>

<%= render partial: 'products/product', collection:@products, locals: {show_links: false} %>

  <%= @queryc%>