<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>


<%= link_to 'Back', request.headers['HTTP_REFERER'],class: "btn btn-primary" %>


<h2><%= @category.name %> </h2>

  <ul>
    <% @category.products.each do |prod|%>
      <li> <%= link_to prod.name, prod%> </li>
    <%end%>
  </ul>

