<%= render_breadcrumbs :separator => ' > ' %>




<h1><%= @category.name %> </h1>

  <ul>
    <% @category.products.each do |prod|%>
      <h4> <%= link_to prod.name, prod%> </h4>
    <%end%>
  </ul>


