<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>





<h2><%= @category.name %> </h2>

  <ul>
    <% @category.products.each do |prod|%>
      <li> <%= link_to prod.name, prod%> </li>
    <%end%>
  </ul>

