<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<h2> List of Products </h2>



           <%= render partial: 'products/product',
                      collection: @products,
                      locals: {show_links: true} %>


<div class ="container text-center">
  <% @products.each do |prod| %>
    <% if prod.image.present? %>
		  <p> <%= image_tag prod.image.thumbnail.url %> </p>
  	<% end %>
  <% end%>
</div >



  <%= link_to_next_page @products, 'Next Page' %>
<%= paginate @products %>


