<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<h2> List of Products </h2>

  <% @products.each do |product| %>
    <div class ="prods">
    <h3> <%= link_to product.name, product%>  ---- <%= link_to product.category.name, product.category%> </h3>
    <p> Price: <%= number_to_currency product.price%> </p>
    <p> Desc:  <%= product.description%>   </p>
    </div>
  <% end%>

