<h1 class="text-center">Products for Sale</h3>
<br><br>

<ul class="pager">
  <li><%= link_to 'Back', request.headers['HTTP_REFERER']%></li>
  <li><%= link_to_next_page @products, 'Next Page' %></li>
</ul>


<div class="row ">
  <div class="col-xs-6 col-xs-offset-3">
    <% @products.each do |product| %>
      <%= render "product_row", product: product, order_product: @order_product,  locals: {show_links: false} %>
    <% end %>
  </div>
</div>

<h4> <%= paginate @products %> </h4>
