<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


<h2> List of Products </h2>



           <%= render partial: 'products/product',
                      collection: @products,
                      locals: {show_links: true} %>



