<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>




<h1><%=@product.name %>    ----    </h1>
<%#   -------  link_to product.categories.name, product.categories %>


<%# image here %>

<h3> Details </h3>
<h4> <%= @product.price%> </h4>
<h4> <%= @product.description%> </h4>



<br>
<br>
<br>



<p>
<% @product.categories.each do |product|%>
  <ul>
    <li> <%= link_to product.name, product%> </li>
  </ul>
<%end%>
</p>




<%# can include number of times ordered.      product.orders.count %>


