<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>




<h1><%=@product.name %>    ---- <%= link_to  @product.category.name, controller: "categories", action: "show", id: @product.category.id%>   </h1>
<%#   -------  link_to product.categories.name, product.categories %>




<%# image here %>

<h3> Details </h3>
<h4> <%= @product.price%> </h4>
<h4> <%= @product.description%> </h4>



<br>
<br>
<br>



 <%# link_to product.name, product %>






<%# can include number of times ordered.      product.orders.count %>


