<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>


<!-- <%= render @product%> -->

          <!-- <%= render partial: 'products/product',
                      object: @product %>    -->

           <%= render partial: 'products/product',
                      object: @product,
                      locals: {show_links: false} %>

<br>
<br>
<br>



 <%# link_to product.name, product %>






<%# can include number of times ordered.      product.orders.count %>


